

.meneame a{
    text-decoration: none;
    color: black;
    border: none;
}

.meneame > a > div{
    height: 19px;
    float:left;
    background-image: url("botonNaranjaSem.png");
}

/*  BOTON ESTANDAR    */
.meneame div.boton{
    width: 87px;
}
/*       BOTON CON CONTADOR Y ESTADO     */
.meneame div.botonCont{
    width: 83px;
}
.meneame div.inicio{
    width: 3px;
    background-position: -87px 0;
}
.meneame div.num{
    width: auto;
    font-size: 12px;
    color: white;
    font-family: verdana, sans-serif;
    background-position: -90px 0;
}

.meneame div.num div{
    padding-top: 2px;
}

.meneame div.fin{
    width: 3px;
    background-position: -127px 0;
}
/*  SEMAFORO  ESTADO  */

.meneame div.pendiente{
    width: 11px;
    background-position: -130px 0; 
}

.meneame div.publicado{
    width: 11px;
    background-position: -141px 0; 
}

.meneame div.descartado{
    width: 11px;
    background-position: -152px 0; 
}















